In [1]:
import platform

platform.python_version()

'3.9.16'

In [2]:
import numpy as np

In [3]:
np.__version__

'1.24.3'

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.0.1'

In [6]:
import polars as pl

In [7]:
pl.__version__

'0.19.3'

In [8]:
import pyarrow

In [21]:
import time

In [9]:
num_rows = 5000
rng = np.random.default_rng(seed=7)

In [10]:
buildings_data = {
      "sqft": rng.exponential(scale=1000, size=num_rows),
      "year": rng.integers(low=1995, high=2023, size=num_rows),
      "building_type": rng.choice(["A", "B", "C"], size=num_rows),
}

In [11]:
buildings = pl.DataFrame(buildings_data)

In [12]:
buildings

shape: (5_000, 3)
┌─────────────┬──────┬───────────────┐
│ sqft        ┆ year ┆ building_type │
│ ---         ┆ ---  ┆ ---           │
│ f64         ┆ i64  ┆ str           │
╞═════════════╪══════╪═══════════════╡
│ 707.529256  ┆ 1996 ┆ C             │
│ 1025.203348 ┆ 2020 ┆ C             │
│ 568.548657  ┆ 2012 ┆ A             │
│ 895.109864  ┆ 2000 ┆ A             │
│ …           ┆ …    ┆ …             │
│ 408.872783  ┆ 2009 ┆ C             │
│ 57.562059   ┆ 2019 ┆ C             │
│ 3728.088949 ┆ 2020 ┆ C             │
│ 686.678345  ┆ 2011 ┆ C             │
└─────────────┴──────┴───────────────┘

In [13]:
buildings.head()

shape: (5, 3)
┌─────────────┬──────┬───────────────┐
│ sqft        ┆ year ┆ building_type │
│ ---         ┆ ---  ┆ ---           │
│ f64         ┆ i64  ┆ str           │
╞═════════════╪══════╪═══════════════╡
│ 707.529256  ┆ 1996 ┆ C             │
│ 1025.203348 ┆ 2020 ┆ C             │
│ 568.548657  ┆ 2012 ┆ A             │
│ 895.109864  ┆ 2000 ┆ A             │
│ 206.532754  ┆ 2011 ┆ A             │
└─────────────┴──────┴───────────────┘

In [14]:
buildings.shape

(5000, 3)

In [15]:
type(buildings)

polars.dataframe.frame.DataFrame

In [16]:
help(buildings.to_pandas)

Help on method to_pandas in module polars.dataframe.frame:

to_pandas(*args: 'Any', use_pyarrow_extension_array: 'bool' = False, **kwargs: 'Any') -> 'pd.DataFrame' method of polars.dataframe.frame.DataFrame instance
    Cast to a pandas DataFrame.

    This requires that :mod:`pandas` and :mod:`pyarrow` are installed.
    This operation clones data, unless `use_pyarrow_extension_array=True`.

    Parameters
    ----------
    use_pyarrow_extension_array
        Use PyArrow backed-extension arrays instead of numpy arrays for each column
        of the pandas DataFrame; this allows zero copy operations and preservation
        of null values. Subsequent operations on the resulting pandas DataFrame may
        trigger conversion to NumPy arrays if that operation is not supported by
        pyarrow compute functions.
    **kwargs
        Arguments will be sent to :meth:`pyarrow.Table.to_pandas`.

    Returns
    -------
    :class:`pandas.DataFrame`

    Examples
    --------
    >>> import pandas
    >>> df1 = pl.DataFrame(
    ...     {
    ...         "foo": [1, 2, 3],
    ...         "bar": [6, 7, 8],
    ...         "ham": ["a", "b", "c"],
    ...     }
    ... )
    >>> pandas_df1 = df1.to_pandas()
    >>> type(pandas_df1)
    <class 'pandas.core.frame.DataFrame'>
    >>> pandas_df1.dtypes
    foo     int64
    bar     int64
    ham    object
    dtype: object
    >>> df2 = pl.DataFrame(
    ...     {
    ...         "foo": [1, 2, None],
    ...         "bar": [6, None, 8],
    ...         "ham": [None, "b", "c"],
    ...     }
    ... )
    >>> pandas_df2 = df2.to_pandas()
    >>> pandas_df2
       foo  bar   ham
    0  1.0  6.0  None
    1  2.0  NaN     b
    2  NaN  8.0     c
    >>> pandas_df2.dtypes
    foo    float64
    bar    float64
    ham     object
    dtype: object
    >>> pandas_df2_pa = df2.to_pandas(
    ...     use_pyarrow_extension_array=True
    ... )  # doctest: +SKIP
    >>> pandas_df2_pa  # doctest: +SKIP
        foo   bar   ham
    0     1     6  <NA>
    1     2  <NA>     b
    2  <NA>     8     c
    >>> pandas_df2_pa.dtypes  # doctest: +SKIP
    foo           int64[pyarrow]
    bar           int64[pyarrow]
    ham    large_string[pyarrow]
    dtype: object

In [19]:
df = buildings.to_pandas()

In [20]:
type(df)

pandas.core.frame.DataFrame

In [23]:
train_pd=pd.read_parquet('./archive/train.parquet') #Pandas dataframe

train_pl=pl.read_parquet('./archive/train.parquet') #Polars dataframe

In [35]:
train_pd.columns.str.contains('num')

array([False, False, False, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [36]:
nums = train_pd.columns[train_pd.columns.str.contains('num')]

In [37]:
nums

Index(['num_7', 'num_8', 'num_9', 'num_10', 'num_11', 'num_12', 'num_13',
       'num_14', 'num_15'],
      dtype='object')

In [38]:
cats = train_pd.columns[train_pd.columns.str.contains('cat')]

In [39]:
cats

Index(['cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6'], dtype='object')

In [40]:
# pandas query
train_pd[nums].agg(['min','max','mean','median','std'])

,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15
min,3.447814e-09,6.758090e-08,3.387718e-09,2.832512e-09,7.106527e-08,9.356119e-09,1.062366e-08,3.810326e-08,4.786359e-08
max,1.000000e+00,9.999999e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
mean,4.999846e-01,4.999866e-01,5.000210e-01,5.001010e-01,4.999404e-01,5.000311e-01,5.000412e-01,4.999558e-01,5.000969e-01
median,5.000017e-01,4.999354e-01,5.000797e-01,5.001719e-01,4.999099e-01,5.000381e-01,5.000839e-01,4.999062e-01,5.001162e-01
std,2.886756e-01,2.886867e-01,2.887038e-01,2.887107e-01,2.887081e-01,2.886917e-01,2.886958e-01,2.886739e-01,2.886854e-01

In [42]:
train_pd[cats].agg(['nunique'])

         cat_1  cat_2  cat_3  cat_4  cat_5  cat_6
nunique      4     64     31     77     71     67

In [45]:
pl.col(nums[0])

In [48]:
# Polars query
train_pl.with_columns([
    pl.col(nums[0]).min().suffix('_min'),
    pl.col(nums[0]).max().suffix('_max'),
    pl.col(nums[0]).mean().suffix('_mean'),
    pl.col(nums[0]).median().suffix('_median'),
    pl.col(nums[0]).std().suffix('_std'),
    pl.col(cats[0]).n_unique().suffix('_unique'),
])

shape: (30_000_000, 22)
┌───────┬───────┬───────┬───────┬───┬────────────┬──────────────┬───────────┬──────────────┐
│ user  ┆ cat_1 ┆ cat_2 ┆ cat_3 ┆ … ┆ num_7_mean ┆ num_7_median ┆ num_7_std ┆ cat_1_unique │
│ ---   ┆ ---   ┆ ---   ┆ ---   ┆   ┆ ---        ┆ ---          ┆ ---       ┆ ---          │
│ i64   ┆ i64   ┆ i64   ┆ i64   ┆   ┆ f64        ┆ f64          ┆ f64       ┆ u32          │
╞═══════╪═══════╪═══════╪═══════╪═══╪════════════╪══════════════╪═══════════╪══════════════╡
│ 37460 ┆ 2     ┆ 60    ┆ 8     ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
│ 6199  ┆ 1     ┆ 30    ┆ 14    ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
│ 67094 ┆ 2     ┆ 17    ┆ 7     ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
│ 97776 ┆ 3     ┆ 60    ┆ 16    ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
│ …     ┆ …     ┆ …     ┆ …     ┆ … ┆ …          ┆ …            ┆ …         ┆ …            │
│ 65419 ┆ 1     ┆ 25    ┆ 1     ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
│ 79935 ┆ 2     ┆ 7     ┆ 4     ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
│ 32385 ┆ 3     ┆ 10    ┆ 19    ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
│ 95786 ┆ 4     ┆ 30    ┆ 3     ┆ … ┆ 0.499985   ┆ 0.500002     ┆ 0.288676  ┆ 4            │
└───────┴───────┴───────┴───────┴───┴────────────┴──────────────┴───────────┴──────────────┘